@model BlogPageViewModel

<main>
    <div class="container">
        <div class="row mainmargin">
            <div class="col-md-8">
                <div class="about-page">
                    <h2 class="underscore">@Model.Page?.Title</h2>
                    <p class="sup-header">@Model.Page?.ShortDescription</p>
                    <div class="line"></div>
                    <img src="~/img/meeting-2284501_1920.jpg" class="d-block w-100 mb-5" alt="..." />
                    <div>
                        @Html.Raw(Model.Page?.Description)
                    </div>
                </div>
            </div>
            <div class="sidebar col-md-4">
                <div class="input-group">
                    <div class="form-outline">
                        <input id="search-input" type="search" id="form1" class="form-control" placeholder="search" />
                    </div>
                    <button id="search-button" type="button" class="btn dark">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="recent-posts pt-5">
                    <h4 class="mb-3">RECENT POSTS</h4>
                    @if(Model.RecentPosts!=null){
                        foreach (var post in Model.RecentPosts)
                        {
                            <div class="post-item">
                                <a asp-controller="Blog" asp-action="Post" asp-route-id="@post.Slug" class="post-title">@post.Title</a>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by @post.User?.FirstName @post.User?.LastName</span><span><i class="far fa-calendar"></i> @post.CreatedDate?.ToString("yyyy/mm/dd")</span><span><i class="fa fa-gear"></i> @post.PostCategories?.FirstOrDefault()?.Category?.Title</span>
                                </div>
                                <p class="post-content">@post.ShortDescription</p>
                            </div>
                        }
                    }

                    <a class="main-button" asp-controller="Blog" asp-action="Index">View all posts</a>
                    @*<div class="popular pt-5">
                        <h4 class="mb-3">READ MOST POPULAR ARTICLES</h4>
                        <div class="card bg-dark text-white">
                            <img src="img/architecture-1857175_1920.jpg" class="card-img" alt="...">
                            <div class="card-img-overlay p-3">
                                <div class="text-overlay">
                                    <h5 class="card-title text-uppercase">Lorem, ipsum dolor sit amet consectetur </h5>
                                    <div class="line"></div>
                                    <div class="card-text article-meta">
                                        <span><i class="far fa-user"></i> Posted by someone </span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 300 comments</span>
                                    </div>
                                    <button class="card-button">Read article</button>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <img src="img/castle-1998435_1920.jpg" class="card-img" alt="...">
                            <div class="card-img-overlay p-3">
                                <div class="text-overlay">
                                    <h5 class="card-title text-uppercase">Lorem, ipsum dolor sit amet consectetur </h5>
                                    <div class="line"></div>
                                    <div class="card-text article-meta">
                                        <span><i class="far fa-user"></i> Posted by someone </span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 300 comments</span>
                                    </div>
                                    <button class="card-button">Read article</button>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <img src="img/staircase-274614_1920.jpg" class="card-img" alt="...">
                            <div class="card-img-overlay p-3">
                                <div class="text-overlay">
                                    <h5 class="card-title text-uppercase">Lorem, ipsum dolor sit amet consectetur </h5>
                                    <div class="line"></div>
                                    <div class="card-text article-meta">
                                        <span><i class="far fa-user"></i> Posted by someone </span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 300 comments</span>
                                    </div>
                                    <button class="card-button">Read article</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</main>