@model List<CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus-circle"></i> New Category</a>
    </h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Of Users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Created On</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Title</td>
                                <td>@category.Description</td>
                                <td>@category.CreatedDate</td>
                                <td>@category.User.UserName</td>
                                <td>
                                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                                    <form class="submitForm d-inline" asp-action="Delete" asp-route-id="@category.Id">
                                        <button type="button" class="btn btn-danger deleteBtn">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
@section Scripts{

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>

    <script>

        $(document).ready(function () {
            $(".deleteBtn").on("click", function () {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.form.submit();
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                })
            });
        });

        
    </script>

}
