@model PostViewModel

<main>
    <div class="container">
        <div class="row mainmargin">
            <div class="single-post col-md-8">
                <h2 class="underscore">@Model.Title</h2>
                <div class="post-meta">
                    <span><i class="far fa-user"></i> Posted by @Model.User?.FirstName @Model.User?.LastName</span><span><i class="far fa-calendar"></i> @Model.CreatedDate</span><span><i class="fa fa-gear"></i> @Model.PostCategories?.FirstOrDefault()?.Category?.Title</span>
                </div>
                @if(Model.ThumbnailUrl==null){
                    <img src="~/thumbnails/default.png" alt="">
                }
                else{
                    <img src="~/thumbnails/@Model.ThumbnailUrl" alt="">
                }
                <div>
                    @Html.Raw(Model.Description)
                </div>
                <div class="line"></div>
                @*<form id="commentForm">
                    <!-- Message input -->
                    <div class="mb-3">
                        <label class="form-label" for="comment">Leave a Comment</label>
                        <textarea class="form-control" id="comment" type="text" placeholder="" style="height: 10rem;" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Comment is required.</div>
                    </div>
                    <!-- Name input -->
                    <div class="mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                    </div>
                    <!-- Email address input -->
                    <div class="mb-3">
                        <input class="form-control" id="emailAddress" type="email*" placeholder="Email Address *" data-sb-validations="required, email" />
                        <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                    </div>
                    <!-- Form submissions success message -->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">Form submission successful!</div>
                    </div>
                    <!-- Form submissions error message -->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Form submit button -->
                    <div class="d-grid">
                        <button class="main-button" id="submitButton" type="submit">Post Comment</button>
                    </div>
                </form>*@
            </div>
            <div class="sidebar col-md-4">
                <div class="input-group">
                    <div class="form-outline">
                        <input id="search-input" type="search" id="form1" class="form-control" placeholder="search" />
                    </div>
                    <button id="search-button" type="button" class="btn dark">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="recent-posts pt-5">
                    <h4 class="mb-3">RECENT POSTS</h4>
                    <div class="post-item">
                        <a href="single-post.html" class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                        <div class="post-meta">
                            <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                        </div>
                        <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis ex ipsam similique blanditiis. Culpa hic quia...</p>
                    </div>
                    <div class="post-item">
                        <a href="single-post.html" class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                        <div class="post-meta">
                            <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                        </div>
                        <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis ex ipsam similique blanditiis. Culpa hic quia...</p>
                    </div>
                    <div class="post-item">
                        <a href="single-post.html" class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                        <div class="post-meta">
                            <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                        </div>
                        <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis ex ipsam similique blanditiis. Culpa hic quia...</p>
                    </div>
                    <a class="main-button">View all posts</a>
                  
                </div>
            </div>
        </div>
    </div>
</main>