@model BlogPostViewModel
@{
    var request = Context.Request;
    var currentURL = $"{request.Scheme}://{request.Host}{request.Path}";
}
<main>
    <div class="container">
        <div class="row mainmargin">
            <div class="single-post col-md-8">
                <h2 class="underscore">@Model.Post?.Title</h2>
                <div class="post-meta">
                    <span><i class="far fa-user"></i> Posted by @Model.Post?.User?.FirstName @Model.Post?.User?.LastName</span><span><i class="far fa-calendar"></i> @Model.Post?.CreatedDate</span>
                    <span>
                            @foreach (var postCategory in Model.Post.PostCategories)
                            {
                                <form method="get" asp-action="Index" asp-controller="Blog" class="d-inline">
                                    <input type="hidden" asp-for="@postCategory.Category.Slug" name="category">
                                    <button type="submit" class="btn p-0 categoryBtn"><span><i class="fa fa-gear"></i> @postCategory.Category?.Title</span></button>
                                </form>
                            }
                    </span>
                </div>
                @if (Model.Post?.ThumbnailUrl == null)
                {
                    <img src="~/thumbnails/default.png" alt="">
                }
                else{
                    <img src="~/thumbnails/@Model.Post?.ThumbnailUrl" alt="">
                }
                <div>
                    @Html.Raw(Model.Post?.Description)
                </div>
                <div class="line"></div>
                <div class="share">
                    <a class="main-button" href="https://www.facebook.com/sharer/sharer.php?u=@currentURL"><i class="fab fa-facebook-f"></i> FACEBOOK</a>
                    <a class="main-button" href="https://twitter.com/share?text=@Model.Post?.Title&url=@currentURL"> <i class="fab fa-google-plus-g"></i> TWITTER</a>
                    <a class="main-button" href="https://www.linkedin.com/shareArticle?mini=true&url=@currentURL&title=@Model.Post?.Title"><i class="fab fa-linkedin-in"></i> LINKEDIN</a>
                    <a class="main-button" href="http://pinterest.com/pin/create/link/?url=@currentURL"><i class="fab fa-pinterest-p"></i> PINTEREST</a>
                </div>
            </div>
            <div class="sidebar col-md-4">
                <form method="get" asp-controller="Blog" asp-action="Index">
                    <div class="input-group">
                        <div class="form-outline">
                            <input id="search-input" name="search" type="search" id="form1" class="form-control" placeholder="search" />
                        </div>
                        <button id="search-button" type="submit" class="btn dark">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="recent-posts pt-5">
                    <h4 class="mb-3">RECENT POSTS</h4>
                    @if(Model.RecentPosts!=null){
                        foreach (var post in Model.RecentPosts)
                        {
                            <div class="post-item">
                                <a asp-controller="Blog" asp-action="Post" asp-route-id="@post.Slug" class="post-title">@post.Title</a>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by @post.User?.FirstName @post.User?.LastName</span><span><i class="far fa-calendar"></i> @post.CreatedDate?.ToString("yyyy/mm/dd")</span><span><i class="fa fa-gear"></i> @post.PostCategories?.FirstOrDefault()?.Category?.Title</span>
                                </div>
                                <p class="post-content">@post.ShortDescription</p>
                            </div>
                        }
                    }
                    <a class="main-button" asp-controller="Blog" asp-action="Index">View all posts</a>
                </div>
            </div>
        </div>
    </div>
</main>