<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Firmbee.com - Free Project Management Platform for remote teams">
    <title>Clear blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <script src="https://kit.fontawesome.com/0e035b9984.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("StyleSheet", required:false)

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="82">
    <header id="home">
        <nav id="#navbar" class="navbar @(ViewContext.RouteData.Values["Action"]?.ToString()=="Index"?"":"dark") @(ViewContext.RouteData.Values["Controller"]?.ToString()=="Blog"?"dark":"") navbar-expand-lg position-fixed top-0 w-100 py-3">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/img/NetBlogLogo.png" alt="" height="40"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link @(ViewContext.RouteData.Values["Action"]?.ToString()=="Index"?"active":"")" asp-action="Index" asp-controller="Home">home</a>
                        <a class="nav-link @(ViewContext.RouteData.Values["id"]?.ToString()=="About"?"active":"")" asp-action="Page" asp-controller="Home" asp-route-id="About">about</a>
                        <a class="nav-link @(ViewContext.RouteData.Values["id"]?.ToString()=="Contact"?"active":"")" asp-action="Page" asp-controller="Home" asp-route-id="Contact">contact</a>
                        <a class="nav-link @(ViewContext.RouteData.Values["id"]?.ToString()=="PrivacyPolicy"?"active":"")" asp-action="Page" asp-controller="Home" asp-route-id="PrivacyPolicy">Privacy Policy</a>
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString()=="Blog"?"active":"")" asp-action="Index" asp-controller="Blog">Blog</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="text-center  text-uppercase py-5">
        <div class="footer-icons ">
            <a href=""><img src="~/img/facebook-footer.svg" alt=""></a>
            <a href=""><img src="~/img/instagramm-footer.svg" alt=""></a>
            <a href=""><img src="~/img/pinterest-footer.svg" alt=""></a>
        </div>
        <div class="copyright pt-4 text-muted text-center">
            <p>&copy; 2022 NetBlog | Created by Sailesh Rijal
        </div>
    </footer>
    <div class="fb2022-copy">Fbee 2022 copyright</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required:false)

</body>
</html>
