@model List<PostViewModel>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus-circle"></i> New Post</a>
    </h1>
                

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Of Posts</h6>
        </div>
        <div class="card-body">
            <table id="dataTable">
                <thead>
                    <tr>
                        <td>Title</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@post.Id">
                                    <div class="post-box mb-2 p-2 rounded " style="border:1px solid lightgray;">
                                        <div class="row">
                                            <div class="col-1">
                                                @if (post.ThumbnailUrl == null)
                                                {
                                                    <img src="~/thumbnails/default.png" class="img-fluid" style="height:60px;width:90px;object-fit:cover" />
                                                }
                                                else
                                                {
                                                    <img src="~/thumbnails/@post.ThumbnailUrl" class="img-fluid" style="height:60px;width:90px;object-fit:cover" />
                                                }
                                            </div>
                                            <div class="col-8">
                                                <h6 class="font-weight-bold text-primary">@post.Title</h6>
                                                <div>
                                                    <span class='@(post.Status?"":"text-danger")'>@(post.Status ? "Published" : "Draft")</span> |
                                                    <span>@post.CreatedDate</span>
                                                    <p class="d-inline">
                                                        @foreach (var postCategory in post.PostCategories)
                                                        {
                                                            <span class="border border-primary rounded mx-1 px-1 text-primary">
                                                                @postCategory.Category.Title
                                                            </span>
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div>
                                                    <span>@post.User?.FirstName @post.User?.LastName</span>
                                                    <span>
                                                        @if (post.User.ProfilePictureUrl != null)
                                                        {
                                                            <img src="~/user-img/@post.User.ProfilePictureUrl" class="rounded-circle" style="width:30px; height:30px" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/user-img/default.jpg" class="rounded-circle" style="width:30px; height:30px" />
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<style>
    .post-box:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor:pointer;
        transition: 0.3s;
    }
    a{
        text-decoration:none;
        color:grey;
    }
    a:hover{
        text-decoration:none;
        color:gray;
    }
</style>
<!-- /.container-fluid -->

@section Scripts{

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $(".statusForm").on("change", "input:checkbox", function () {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do You really want to change status",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Change it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.form.submit();
                        Swal.fire(
                            'Changed!',
                            'This User\' status has been changed.',
                            'success'
                        )
                    }
                })
            });
        });
    </script>
}
